@charset "utf-8";

/* news */

.news, .news a {
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	padding: 3px;
	margin: 0px;
}

.news img {
	float: none;
}

/* msg */

.msgpad {
	text-align: center;
}

.msgpad div {
	margin-top: 10px;
	margin-bottom: 10px;
}

.msgpad img {
	float: none;
}

/* wise sayings */

.wisesayings {
	background-image:url(/index_files/wise_sayings_bg.png);
	height: 140px;
	width: 240px;
	position: relative;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 20px;
	z-index: 1;
}

.wisesayings div.wisemsg {
	height: 85px;
	width: 220px;
	margin-top: 15px;
	margin-left: 10px;
	overflow: hidden;
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #006699;
	font-weight: bold;
}

.wisesayings div.wisemsg p {
	padding: 5px;	
}

/* icon */

.iconpad {
	width: 245px;
}

.iconpad div.icon {
	width: 70px;
	float: left;
	margin: 5px;
}

.iconpad img {
	float: none;
}

/* content 2 layer */

.content2 {
	height: 460px;
	background-image:url(/index_files/index-bg.png);
}

.content2a {
	width: 520px;
	float: left;
}

.content2b {
	width: 250px;
	float: left;
}

/* table {
	border-top-color: #00F;
	border-right-color: #00F;
	border-bottom-color: #00F;
	border-left-color: #00F;
} */


h5,h2 {
	margin: 0px;
	padding: 0px;
}
