@charset "utf-8";

/* whole website preset */

body {
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	margin: 0px;
}

p {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: justify;
}

h1 {	
	font-size: 20px;
	font-weight: bolder;
	color: #FF0000;
	font-family: "Times New Roman", Times, serif;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}

h2 {	
	font-size: 18px;
	font-weight: bolder;
	color: #F63;
	font-family: "Times New Roman", Times, serif;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

img { 
	border: none;
}

a, a:hover, a:active, a:focus {
	text-decoration: none;
}

/* page layer preset */

.container {
	width: 980px;
	background: #F1FCFF;
	margin: 0 auto;
}

/* header */

.topimgmask {
	width: 980px;
	height: 160px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	z-index: 99;
	top: -200px;
	left: 63px;
}

.header {
	width: 980px;
	height: 160px;
	background-image:url(_images/tin-eng-top_2014-2015.png);
	margin: 0px;
	padding: 0px;
}

.header img {
	margin: 0px;
	padding: 0px;
}

/* memu bar */

.menubarpad {
	background:#1293FC;
	display:block;
	height: 30px;
}

.menubar {
	margin:0;
	padding:0;
	list-style:none;
	display:block;
	z-index: 100;
}

.menubar li {
	float: left;
	position:relative;
	display:block;
	z-index: 100;
}

.menubar li a {
	background: #1293FC;
	display: block;
	padding: 5px 10px 3px 10px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
}

.menubar li a.m_lang {
	color: #FFFF00;
}

.menubar li a:hover {

}

/* menu bar - sub menu */

.menubar ul {
	position: absolute;
	left: 0;
	display: none;
	padding: 0;
	list-style: none;
	border: 1px solid #000099;
}

.menubar ul li {
	float: left;
	z-index: 100;
}

.menubar ul.m_about li {
	width: 280px;
}

.menubar ul.m_organisation li {
	width: 350px;
}

.menubar ul.m_achievement li {
	width: 250px;
}

.menubar ul.m_publications li {
	width: 200px;
}

.menubar ul.m_gallery li {
	width: 150px;
}

.menubar ul.m_links li {
	width: 280px;
	z-index: 110;
}

.menubar ul a {
	display: block;
	padding: 2px;
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	background-color: #93C4FF;
}

.menubar ul a:hover {
	background-color: #CCC;
}

/* news pic */

.newspic {
	height: 450px;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
}

.newspic div div {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.newspic h1 {
	font-size: 16px;
	font-weight: bolder;
	color: #FF5809;
	text-decoration: underline;
}

.newspic img {
	margin: 0px;
	padding: 0px;
	border: 0px;
	float: none;
}

.newspic p, .newspic a {
	font-size: 12px;
	font-weight: bold;
	color: #0066FF;
	text-decoration: none;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	line-height: 12px;
	margin: 1px;
	padding: 1px;
}

/* content 1 */

.content1 {
	padding: 5px 0;
	width: 190px;
	float: left;
}

/* content 2 */

.content2 {
	padding: 10px;
	width: 770px;
	float: left;
}

/* footer */

.footer {
	background-image: url(/index_files/tin-eng-bottom.png);
	width: 980px;
	height: 90px;
	font-size: 14px;
	font-weight: bolder;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
	position: relative;/* 這會為 IE6 提供 hasLayout 以進行適當的清除動作 */
	clear: both; /* 這個 clear 屬性可以強制 .container 辨識欄結束於何處以及包含欄的位置 */
}

.footer img {
	float: none;
}

.addr {
	padding-top: 30px;
	padding-left: 150px;
	height: 60px;
}

/* clear */

.clearfloat { /* 這個類別可放置在 <br /> 或空白的 Div 上，當做接在 #container 內最後一個浮動 Div 後方的最後一個元素 (如果從 #container 移除或取出 #footer) */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
